<div class="backdrop is-hidden" data-modal-reg>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close-reg>
      <svg width="30" height="30">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="auth-form">
      <div class="group">
        <input id="txtEmail" class="auth-input" type="email" />
        <label class="auth-form__label">Email</label>
      </div>
      <div class="group">
        <input id="txtPassword" class="auth-input" type="password" />
        <label class="auth-form__label">Password</label>
      </div>
      <div id="divLoginError" class="group">
        <div id="lblLoginErrorMessage" class="errorlabel">Error message</div>
      </div>
      <div class="divButtons">
        <button id="btnLogin" type="submit" class="button btnLogin">
          Log in
        </button>
        <p class="authText">Don't have an account?</p>
        <button id="btnSignup" type="submit" class="buttonRegister">
          Sign up now
        </button>
      </div>
    </form>
  </div>
</div>
